@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$ff-ss: "Open Sans", sans-serif;
$ff-ss-text: Roboto, sans-serif;
$ff-s: "IBM Plex Serif", serif;