<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}>
</head>
<body>
    <div class="title-area">
        <div class="inner-title-area">
            <div class="logo-area">
                <img src={{ "assets/images/hcl-sofy-logo.svg" | relative_url }} class="logo">
            </div>
            <h1 class="title">{{ page.title }}</h1>
            <p class="sub-title">{{ page.description }}</p>
        </div>
    </div>
    <div id="main-body">
        {{ content }}
    </div>

    <footer>
        <img src={{ "assets/images/hcl-m@2x.png" | relative_url }}>
    </footer>
</body>
</html>